.footer {
  padding: 2.5rem var(--base-padding); /* More padding */
  background-color: #000000; /* Dark background */
  color: var(--background-light); /* Light text */
  text-align: center;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.footer:hover {
  background-color: #121212;
}

.companyName {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--earth-1);
}

.copyright {
  margin: 1rem 0;
  color: var(--text-light); /* Slightly dimmer */
  font-size: 0.85rem;
}

.trademarks {
  margin-bottom: 1.5rem;
  color: var(--text-light);
  font-size: 0.8rem;
  font-style: italic;
}

.links a {
  color: var(--earth-1);
  text-decoration: none;
  margin: 0 0.75rem;
  transition: color 0.2s ease-in-out;
}

.links a:hover {
  color: #25abe0;
  text-decoration: underline;
}

.disclaimer {
  color: #666666;
  font-size: 0.8rem;
  text-align: center;
  margin: 0.5rem 0;
  font-style: italic;
} 

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: #141414;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 