.marketApplicationsSection {
  padding: 2rem 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.textContainer {
  flex: 1;
  max-width: 400px;
}

.industriesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 1.5rem; /* Space between boxes */
  flex: 2;
}

.industryBox {
  background-color: var(--background-light);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.industryImage {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height to make it square */
  object-fit: cover; /* Ensure the image scales properly */
  border-radius: 8px; /* Optional: Add rounded corners */
}